:root {
  --color-bg: #e8e6ff;
  --color-green: #59dbd3;
  --color-grey: #444;
  --color-thin-grey: #aaa;
  --color-thiner-grey: #eee;
  --color-very-thin-grey: #f8f8f8;
  --color-red: #fe6563;
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background: var(--color-bg);
  color: var(--color-grey);
  padding: 0 20px;
}
// common
button {
  border: none;
  border-radius: 99px;
  background: var(--color-green);
  color: white;
  font-size: 1rem;
  padding: 8px 16px;
  cursor: pointer;
  &[disabled] {
    cursor: not-allowed;
    padding: 8px 32px;
    opacity: 0.8;
  }
  &:not([disabled]):hover {
    opacity: 0.8;
  }
}
.container {
  max-width: 960px;
  padding: 20px;
  margin: auto;
}
.error {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  font-size: 0.9rem;
  color: var(--color-red);
}

.spin {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  animation: loading 0.8s linear infinite;
}

@keyframes loading {
  to {
    transform: rotateZ(360deg);
  }
}

// single page
.form {
  height: 100vh;
  padding: 80px 0;
  .container {
    background: white;
    border-radius: 12px;
    padding: 40px 20px;
    box-shadow: var(--shadow);
  }
  .form-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  .form-btn-wrap {
    text-align: center;
    margin: 30px 0;
  }
  .form-footer {
    text-align: center;
  }
  .form-link {
    font-weight: bold;
    text-decoration: underline;
    color: var(--color-grey);
    cursor: pointer;
  }
  form {
    max-width: 460px;
    margin: auto;
    input {
      display: block;
      width: 100%;
      border-radius: 99px;
      padding: 10px 12px;
      color: var(--color-grey);
      border: 1px solid var(--color-thiner-grey);
      font-size: 1rem;
      margin: 20px 0;
      &:focus {
        outline: 1px solid var(--color-thin-grey);
      }
      &::placeholder {
        color: var(--color-thin-grey);
      }
    }
  }
}

.chatroom {
  padding: 80px 0;
  .container {
    background: white;
    border-radius: 12px;
    padding: 40px 20px;
    box-shadow: var(--shadow);
  }
  .chatroom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .chatroom-header-display-name {
    margin-bottom: 5px;
  }
  .chatroom-header-email {
    color: var(--color-thin-grey);
    margin-bottom: 20px;
  }
  .chatroom-body {
    height: calc(100vh - 390px);
    overflow: auto;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    border-top: 1px solid var(--color-thiner-grey);
    border-bottom: 1px solid var(--color-thiner-grey);
    background: var(--color-very-thin-grey);
    margin-bottom: 20px;
    .chatroom-body-message {
      margin-bottom: 15px;
      .chatroom-body-message-day {
        color: var(--color-thin-grey);
      }
      .chatroom-body-message-author {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
  }
  .chatroom-input {
    height: 60px;
    textarea {
      font-family: inherit;
      width: 100%;
      height: 100%;
      border: 0;
      resize: none;
      &:focus {
        outline: none;
      }
    }
  }
}

// skeleton
.skeleton {
  background: #ddd;
  border-radius: 4px;
  margin: 10px 0;
}
.skeleton.title {
  width: 50%;
  height: 20px;
}
.skeleton.text {
  width: 100%;
  height: 12px;
}
.skeleton.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.skeleton.thumbnail {
  width: 100%;
  height: 100px;
}

.skeleton-wrapper {
  position: relative;
  margin: 0 auto 20px;
  padding: 10px 15px;
  border-radius: 4px;
  overflow: hidden;
  background: #f2f2f2;
}
.skeleton-header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.skeleton-header > div:nth-child(2) {
  flex: 1;
}

/* shim */
.skelecton-shim-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: pending 2.5s infinite;
}
.skelecton-shim {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
}

@keyframes pending {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}
